#include "Pods/Target Support Files/Pods-flavor_dev/Pods-flavor_dev.release.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_dev/Pods-flavor_dev.release-flavor_staging.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_dev/Pods-flavor_dev.release-flavor_test.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_dev/Pods-flavor_dev.release-flavor_prod.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_dev/Pods-flavor_dev.release-flavor_dev.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_dev/Pods-flavor_dev.profile.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_dev/Pods-flavor_dev.profile-flavor_staging.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_dev/Pods-flavor_dev.profile-flavor_test.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_dev/Pods-flavor_dev.profile-flavor_prod.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_dev/Pods-flavor_dev.profile-flavor_dev.xcconfig"

#include "Pods/Target Support Files/Pods-flavor_prod/Pods-flavor_prod.release.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_prod/Pods-flavor_prod.release-flavor_staging.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_prod/Pods-flavor_prod.release-flavor_test.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_prod/Pods-flavor_prod.release-flavor_prod.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_prod/Pods-flavor_prod.release-flavor_dev.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_prod/Pods-flavor_prod.profile.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_prod/Pods-flavor_prod.profile-flavor_staging.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_prod/Pods-flavor_prod.profile-flavor_test.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_prod/Pods-flavor_prod.profile-flavor_prod.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_prod/Pods-flavor_prod.profile-flavor_dev.xcconfig"

#include "Pods/Target Support Files/Pods-flavor_staging/Pods-flavor_staging.release.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_staging/Pods-flavor_staging.release-flavor_staging.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_staging/Pods-flavor_staging.release-flavor_test.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_staging/Pods-flavor_staging.release-flavor_prod.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_staging/Pods-flavor_staging.release-flavor_dev.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_staging/Pods-flavor_staging.profile.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_staging/Pods-flavor_staging.profile-flavor_staging.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_staging/Pods-flavor_staging.profile-flavor_test.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_staging/Pods-flavor_staging.profile-flavor_prod.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_staging/Pods-flavor_staging.profile-flavor_dev.xcconfig"

#include "Pods/Target Support Files/Pods-flavor_test/Pods-flavor_test.release.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_test/Pods-flavor_test.release-flavor_staging.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_test/Pods-flavor_test.release-flavor_test.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_test/Pods-flavor_test.release-flavor_prod.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_test/Pods-flavor_test.release-flavor_dev.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_test/Pods-flavor_test.profile.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_test/Pods-flavor_test.profile-flavor_staging.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_test/Pods-flavor_test.profile-flavor_test.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_test/Pods-flavor_test.profile-flavor_prod.xcconfig"
#include "Pods/Target Support Files/Pods-flavor_test/Pods-flavor_test.profile-flavor_dev.xcconfig"
